{{#*inline "content"}}
  <div class="dashcard">
    <header class="card-header">
      <h2 id="blogName">Blog</h2>
    </header>
    {{#each posts}}
      <div class="card">
        <div class="card-header">
          <h2>{{this.title}}</h2>
        </div>
        <div class="card-body">
          <p>{{this.content}}</p>
          <small>By {{this.user.username}} on {{this.createdAt}}</small>
          <button class="btn btn-edit" data-id="{{this.id}}">Edit</button>
          <button class="btn btn-delete" data-id="{{this.id}}">Delete</button>
        </div>
      </div>
    {{/each}}
  </div>
  <a href="/dashboard/new" class="btn">➕ New Post</a>
{{/inline}}

{{> layouts/main}}