<header>
  <h1>Tech Blog</h1>
  {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  {{/if}}
</header>
<main>
  {{#each posts}}
    <article>
      <h2><a href="/post/{{id}}">{{title}}</a></h2>
      <p>by {{user.username}} on {{createdAt}}</p>
    </article>
  {{/each}}
</main>
