<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>Posted by {{post.user.username}} on {{post.createdAt}}</p>

<h2>Comments</h2>
{{#each post.comments}}
  <div class="comment">
    <p>{{this.content}}</p>
    <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
  </div>
{{/each}}

<h2>Add a Comment</h2>
<form id="comment-form">
  <textarea id="comment-content" placeholder="Your comment" required></textarea>
  <button type="submit">Submit</button>
</form>

<script src="/js/comment.js"></script>